@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "src/styles.scss";

#sidebar {
  @extend .rounded-right;
  width: 200px;
  position: fixed;
  top: 0;
  left: -200px;
  height: 100vh;
  z-index: 9999;
  background: rgb(255, 255, 255);
  // color: rgb(29, 43, 235);
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

/*
#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  // background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: gainsboro; // color: #7386D5;
}
*/

.sidebar-link {
  @extend .btn;
  @extend .btn-outline-dark;
  @extend .btn-block;
  @extend .my-1;
  text-align: left;
  border-style: none;
  // @extend .py-0;
}

span {
  @extend .mx-1;
}