<nav id="sidebar">

  <!-- we can dismiss by click any points outside sidebar menu
  <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
  </div>
  -->
  <hr class="my-4"/>

  <a routerLink="/" class="sidebar-link">
      <span class="fas fa-home"></span>
      <span>Home</span>
  </a>

  <a routerLink="/search" class="sidebar-link">
    <span class="far fa-thumbs-up"></span>
    <span>Popular</span>
  </a>

  <a routerLink="/" class="sidebar-link">
    <span class="far fa-clock"></span>
    <span>Latest</span>
  </a>

</nav>