<!-- Page Wrapper -->
<div id="wrapper">

  <app-sidebar></app-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">
      <div class="container-fluid">
        <app-topbar></app-topbar>
        <router-outlet></router-outlet>
      </div>
    </div>

    <footer class="sticky-footer">
        <div class="text-center">
          <span>Copyright &copy; Your Website 2019</span>
        </div>
    </footer>

  </div>
  <!-- End of Content Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Dark overlay element for sidebar action -->
  <div class="overlay"></div>

</div>
<!-- End of Page Wrapper -->
