<div class="row">
  <a *ngFor="let content of contents" class="col-sm-3"
      routerLink="/content/{{content.idCid.identity}}/{{content.idCid.containerId}}">
    <div>
      <div class="card">
        <img class="card-img-top" [src]="imgServerUrl + content.fileRefs[0].uri" alt="Card image cap">
        <div class="card-body">
          <span class="card-text">{{content.title}}</span>
        </div>
      </div>
    </div>
  </a>
</div>
<button type="button" (click)="getNext()" class="btn btn-primary btn-lg btn-block" [disabled]="!nextInfo">More</button>
