<div *ngIf="content && user">

  <div class="h3">{{content.title}}</div>

  <div class="row">
    <div class="m-2 p-1 row no-gutters align-items-center col-sm">
      <div class="col-2">
        <app-user-ref [userRefId]="content.authorId" [userRefName]="content.authorName"></app-user-ref>
      </div>
      <div class="col pl-2">
        <div class=""><i class="far fa-user"></i> {{content.authorName}}</div>
        <div class="text-muted"><i class="far fa-calendar-alt"></i> {{content.cruTime.created.toLocalDate()}}</div>
      </div>
    </div>
    <div class="m-2 p-1 col-sm">
      <app-reputation [typeName]="'Content'" [authorId]="content.authorId" [idCid]="content.idCid" [reputation]="content.reputation"></app-reputation>
    </div>
  </div>

  <div class="h5 my-3">Ingredients
    <span *ngIf="content.extend.servings" class="ml-2 small text-muted">
      <i class="fas fa-chart-pie"></i> {{content.extend.servings}} servings
    </span>
  </div>
  <div class="ml-2" *ngFor="let ingredient of content.extend.ingredients; index as i">{{i + 1}}. {{ingredient}}</div>

  <div class="h5 my-3">Directions
    <span *ngIf="content.extend.prepareTime" class="ml-2 small text-muted">
      <i class="far fa-clock"></i> Prep: {{content.extend.prepareTime}}
    </span>
    <span *ngIf="content.extend.cookTime" class="ml-2 small text-muted">
      <i class="far fa-clock"></i> Prep: {{content.extend.cookTime}}
    </span>
  </div>

  <div id="sentences" class="sentences">
    <!--
    <div class="ml-2" [innerHTML]="content.sentences"></div>
    -->
  </div>

  <div *ngIf="content.tags.size > 0">
    <div class="h5 my-3">Tags</div>
    <div class="ml-2" >
      <button type="button" class="btn btn-outline-primary border-0 rounded-lg p-0 mr-1"
          (click)="onTag(tag)" *ngFor="let tag of content.tags; index as i">#{{tag}}</button>
    </div>
  </div>

  <div *ngIf="user.isMe(content.authorId)" class="border rounded my-3 p-1 d-flex justify-content-end">
    <button type="button" (click)="onEdit()" class="btn-basic">
      Edit
    </button>
    <button type="button" (click)="onDelete()" class="btn-basic">
      Delete
    </button>
  </div>

  <div class="h5 my-3">Reviews</div>
  <div class="my-2">
    <app-review [content]="content"></app-review>
  </div>

</div> <!-- *ngIf="content" class="content" -->

