<div class="shadow p-4">
  <h2 class="text-center mb-3"><b>Sign In</b></h2>

  <hr class="my-4"/>

  <div class="text-center">
      <a routerLink="/page-not-found" class="btn btn-primary btn-block"><i class="fab fa-facebook"></i> Sign in with <b>Facebook</b></a>
      <a routerLink="/page-not-found" class="btn btn-danger btn-block"><i class="fab fa-google"></i> Sign in with <b>Google</b></a>
  </div>

  <hr class="my-4"/>

  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-user"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Username" formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-key"></i>
          </span>
        </div>
        <input type="password" class="form-control" placeholder="Password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" [disabled]="loading" class="btn btn-success btn-block">Sign in</button>
    </div>

    <div *ngIf="error" class="alert alert-danger">Incorrect username or password</div>
  </form>

  <div class="d-flex justify-content-around">
    <label><input type="checkbox"> Remember me</label>
    <a routerLink="/page-not-found" class="text-success">Forgot Password?</a>
  </div>
</div>

<div class="d-flex justify-content-center mt-2">
  <div class="hint-text">Don't have an account? <a routerLink="/signup" class="text-success">Register Now!</a></div>
</div>
