<div class="container-fluid p-1">
    <div class="row mt-1 ">
      <textarea class="form-control" [(ngModel)]="review.comment" placeholder="Please type a title here."></textarea>
    </div>
    <div class="row mt-1">
      <div class="col-5">
        <ngb-rating [(rate)]="review.reputing.rated">
          <ng-template let-fill="fill">
            <span class="rating-star" [class.rating-star-full]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="col-7">
        <button type="button" (click)="onSave()" class="btn btn-outline-secondary btn-sm">
          <i class="far fa-save"></i>Save
        </button>
      </div>
    </div>
</div>

<ul class="list-unstyled p-1">
  <li class="media" *ngFor="let review of reviews" >
    <img src="assets/img/img60x60.jpg" alt="John Doe" class="mr-1 mt-1 rounded-circle" style="width:60px;">
    <div class="media-body">
      <ngb-rating [(rate)]="review.reputing.rated" readonly=true>
        <ng-template let-fill="fill">
          <span class="rating-star" [class.rating-star-full]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <p>{{review.reviewerName}}<small><i>{{review.cruTime.created}}</i></small></p>
      <p>{{review.comment}}</p>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn-rating-number">
          <input ngbButton type="radio" (click)="onRepute(review, 'liked')" value="liked">
          <i class="far fa-thumbs-up"></i><span>{{review.reputation.liked}}</span>
        </label>
        <label ngbButtonLabel class="btn-rating-number">
          <input ngbButton type="radio" (click)="onRepute(review, 'disliked')" value="disliked">
          <i class="far fa-thumbs-down"></i>{{review.reputation.disliked}}
        </label>
        <label ngbButtonLabel class="btn-rating-number">
          <input ngbButton type="radio" (click)="onRepute(review, 'reported')" value="reported">
          <i class="fas fa-biohazard"></i>{{review.reputation.reported}}
        </label>
      </div>
    </div>
  </li>
</ul>
<button type="button" (click)="getNextReview()" class="btn btn-primary btn-lg btn-block" [disabled]="!nextInfo">More</button>