<div class="container-fluid p-1">
    <div class="row mt-1 ">
      <textarea class="form-control" placeholder="Please type a title here."></textarea>
    </div>
    <div class="row mt-1">

      <div class="col-5">
        <ngb-rating [(rate)]="ratingSelected">
          <ng-template let-fill="fill">
            <span class="rating-star" [class.rating-star-full]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
        <span>{{ratingSelected}}</span>
      </div>
      <div class="col-7">
        <button type="button" class="btn btn-outline-dark btn-sm">
          <i class="far fa-thumbs-up"></i>Like
        </button> 
        <button type="button" class="btn btn-outline-dark btn-sm">
          <i class="far fa-save"></i>Save
        </button>
        <button type="button" class="btn btn-outline-dark btn-sm">
          <i class="fas fa-biohazard"></i>Report
        </button>
      </div>
    </div>
</div>

<ul class="list-unstyled p-1">
  <li class="media" *ngFor="let review of reviews" >
    <img src="assets/img/img60x60.jpg" alt="John Doe" class="mr-1 mt-1 rounded-circle" style="width:60px;">
    <div class="media-body">
      <ngb-rating [(rate)]="review.reputing.rated" readonly=true>
        <ng-template let-fill="fill">
          <span class="rating-star" [class.rating-star-full]="fill === 100">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <p>{{review.reviewerName}}<small><i>{{review.cruTime.created}}</i></small></p>
      <p>{{review.comment}}</p>
      <span class="far fa-thumbs-up">{{review.reputation.liked}}</span>
      <span class="far fa-thumbs-down">{{review.reputation.disliked}}</span>
    </div>
  </li>
</ul>
