.rating-star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #b0c4de;
}

.rating-star-full {
  color: gold;
}

.rating-star-half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: stretch;
}

// Used for sidebar action
.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}