
<div *ngFor="let message of messages; index as i" class="msg">
  <div class="row">
    <div class="align-self-center col-3">
        <img src="{{imgServerUrl + message.authorId}}" class="msg-img" onError="this.src='/assets/img/img60x60.jpg';">
    </div>
    <div class="align-self-center col-7">
      <div class="msg-body">
        <span class="msgText">{{message.authorName}}</span>
        <p class="msg-text"><small class="text-muted">{{message.time.created}}</small></p>
      </div>
    </div>
    <div class="align-self-center col-2">
      <button type="button" (click)="onDelete(i)" class="btn btn-outline-secondary btn-sm">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>
  <span class="msg-text">{{message.sentences}}</span>
</div>

<button *ngIf="!isPreview" type="button" (click)="getNextMessages()" class="btn-next-page" [disabled]="!nextInfo">More</button>