<div *ngIf="content">
  <textarea [(ngModel)]="content.title" [ngClass]="'title'+ styleSuffix()"
      placeholder="Please type a title here."></textarea>

  <div class="container">
      <div class="table-responsive-sm">
        <table class="table table-hover table-sm">
          <thead>
            <tr> <th>Prepair</th> <th>Cook</th> <th>Servings</th> </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" [(ngModel)]="content.extend.prepTime"
                  [ngClass]="'inputTable'+ styleSuffix()" placeholder="10m30s"></td>
              <td><input type="text" [(ngModel)]="content.extend.cookTime"
                  [ngClass]="'inputTable'+ styleSuffix()" placeholder="1h"></td>
              <td><input type="text" [(ngModel)]="content.extend.servings"
                  [ngClass]="'inputTable'+ styleSuffix()" placeholder="1"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  <label for="ingredients">Ingredients:</label>
  <textarea id="ingredients" [(ngModel)]="flatIngredients" [ngClass]="'ingredients'+ styleSuffix()"
      placeholder="Please type ingredients in separated lines. For examples 6 ounces mozzarella cheese, shredded."></textarea>

  <label for="directions">Directions:</label>
  <div id="directions"></div>

  <button type="button" (click)="onSave()" class="btn btn-outline-primary">
    Save
  </button>
  <button type="button" (click)="onDelete()" class="btn btn-outline-primary">
    Delete
  </button>

  <app-review [idCid]="content.idCid"></app-review>

  <app-messages></app-messages>

</div>