@import "src/styles.scss";

.content {
    @extend .border;
    @extend .rounded;
    @extend .p-1;
    @extend .mb-2;
}

.author {
    @extend .border;
    @extend .rounded;
}

.title {
    @extend .form-control;
    @extend .h4;
}

.title-readonly {
    @extend .title;
    pointer-events: none;
}

.input-table {
    text-align: center;
    @extend .form-control-sm;
    @extend .form-control;
}

.input-table-readonly {
    @extend .input-table;
    pointer-events: none;
}

.ingredients {
    @extend .form-control;
}

.ingredients-readonly {
    @extend .ingredients;
    pointer-events: none;
}

label {
    @extend .h6;
}
